.box {
    background-color: #0799d3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    position: relative;
    animation-name: jump; 
    animation-duration: .5s; 
    animation-direction: alternate; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  
 @keyframes jump {
   from {
     top: 0;
   }
   to {
     top: 100px;
  }
}